.land-card{
    background-color: #fff;
    width: 180px;
    height: auto;
    display: flex;
    box-shadow: 0 4px 2px -2px lightblue;
    margin-left: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.land-card h5{
    margin-top: 35px;
    color: #041083;
    font-weight: bold;
    margin-left: 10px;
}

.land-card text{
    font-size: 12px;
    margin-left: 10px;
    color: #646A85;
    margin-top: 10px;
    margin-bottom: 50px;
}

.card img{
    width: 100%;
    height: auto;
    margin-top: 15px;
}