.studentSAoverviwemain{

    display: flex;
    flex-direction: row;
}
.studentSAoverviweright{

    display: flex;
    flex-direction: column;


}

.cSACS{


    background-color: #fff;
    width: 90%;
    height: 640px;
    margin: 20px auto;
    border-radius: 15px;
    display: flex;
    flex: row;
    padding: 30px;
}
    
.SAadminnavbar{

margin-left: 980px;

}

.SASrow1{
    width: 40%;
    height: 100px;
    



}
.SASrow2{
    width: 40%;
    height: 100px;
    margin-left: 450px;

}

.SASrow3{
    width: 30%;
    height: 100px;
    margin-left:400px;

}

   


