.page{
    background-color: #E7ECFC;
    
}

.paymentSection{
    display: flex;
    height: auto;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(16, 208, 215, 0.16) 5px 10px 10px;
    margin: 5px auto 20px;

}

.checkoutPage h2{
    margin: -30px 260px 10px 260px;
}
.checkoutPage{
    height: auto;
}

.payment-details{
    background-color:#E8E8F9;
    width: 80%;
    border-radius: 0 10px 10px 0;
}

.payment-details h4{
    color: #041083;
    margin-top: 60px;
    padding: 20px 160px;
}

.payment-info{
    padding: 10px 40px;
}
 .payment-info .name{
    padding: 5px 0px;
 }
 .payment-info .value{
    float: right;
    font-weight: 400;
 }

 .pay-btn{
    background-color: #041083;
    margin: 60px 174px;
    font-size: medium;
    color: #ffff;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: #041083 0px 2px 4px;
}

.pay-btn:hover{
    background-color: #FF7C78;
    color: #ffffff;
    box-shadow: none;
}

.checkoutPage .readCrumb{
    padding: 40px;
}