.SAOverview-secton{
    background-color: #fff;
    width: 90%;
    height: 580px;
    margin: 20px auto;
    border-radius: 15px;
    display: flex;
    padding: 30px;
}
.left-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.colmn1, .colmn2, .colmn3{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
}

.overviewbox{
background-color:#050559 ;
width: 100%;
height: 150px;
border-radius: 20px;
display: flex;
flex-direction: row;
margin: 10px;
}

.iconsoaoverview{
    margin-left: 50px;
}

.overviewName{
    color: #ffffff;
    margin-top: 70px;
    margin-left: 70px;
    
    
}

.overviewIcon{
    color: #ef0c6e;
    margin-left: 100px;
    margin-top: 70px;

}

.colmn3{

    background-color: #0b0b81;
    width: 97%;
    height: 100%;
    margin: 10px;
    border-radius: 20px;
    
}

.right-container{
background-color: #050559;
display: flex;
    flex-direction: row;
    height: 96%;
    width: 40%;
    margin:1%;
    border-radius: 20px;


}
.msgBox{

    color: #fff;
    margin-left: 100px;
    margin-top: 300px;
}
.msgboxicn{

    color: #ef0c6e;
    margin-top:300px;
    margin-left:170px ;
}