.forgot-password-container{
    width: 70%;
    height: 520px;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.forgot-password-img{
    display: flex;
    flex-basis: 50%;
    border-radius: 0 10px 10px 0;
    margin: auto;
    height: 520px;
    padding: 5px;
}

.forgot-password-img img{
    margin-left: -25px;
}
.forgot-password-container span{
    margin: 10px 5px -10PX 5px;
    color: #646a85;
}

.forgot-password-btn{
    margin: 20px;
    text-align: center;

}
