.error-container {
  margin-top: 100px;
  text-align: center;
  height: 100vh;
}

.error-container img {
  width: 30%;
  height: auto;
}

h1 {
  color: #01305a;
  font-weight: bold;
}

h2 {
  color: #ff7c78;
}
