.SidebarAdmin{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    margin-top: 0;
    transition: all 300ms ease;
    background-color: #fff;
    height: 100vh;
  }
  
  .SidebarAdmin  .bars{
    display: none;
  }
  
  .SidebarAdmin .Logo {
    display: flex;
    height: 32px;
    width: auto;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    margin: 20px 5px;
    padding-left: 20px;
  }
  .SidebarAdmin  .Logo span{
    margin-top: -6px;;
    font-weight: 900;
    font-size: larger;
    color: #041083;
  }
  
  .SidebarAdmin  .Logo  img {
    width: auto;
    height: 24px;
  }
  
  
  /* menu */
  .SidebarAdmin .menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .SidebarAdmin  .menuItem {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 25px;
    margin-left: 25px;
    position: relative;
    transition: all 300ms ease;
    font-size: 18px;
  }
  
  .SidebarAdmin  .menuItem:hover {
    cursor: pointer;
  }
  
  .SidebarAdmin  .menu .menuItem:last-child {
    position: absolute;
    bottom: 25px;
    width: 100%;
  }
  
  /* .active {
    background: var(--activeItem);
    margin-left: 0;
  }
  .active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
  }
   */
  
  