.navbar-sa{
    top: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #646a85;
}

.Navbar-sa .wrapper-sa{
   
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: flex-end;
    
}

.items{
    display: flex;
    align-items: center;
    
}
.item{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    position: relative;
    
}


font{
    padding: 3px;
    color: #646a85;
    cursor: pointer;
}
.nav-icon{
    font-size: 20px;
    color: #646a85;
    cursor: pointer;
}

.counter{
    width: 15px;
    height: 15px;
    background-color: rgb(234, 22, 22);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;

}

.msg-icon{
    margin: 0 10px;
    font-size: 20px;
    color: #646a85;
}

.Navbar-sa button{
    background-color:#041083 ;
    padding: 5px 15px;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.Navbar-sa button:hover{
    background-color: transparent;
    padding: 5px 15px;
    color: #041083;
    border: 1px solid #041083;
    border-radius: 10px;
}

.avatarSuperAdmin{
    margin-left: 50px;
    margin-top: 5px;
}

.superAdminName{
    color: #041083;
    font-weight: 500;
}